<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace：命名空间，用于隔离sql，还有一个很重要的作用，用于映射接口文件-->
<mapper namespace="com.test.mybatis.dao.UserMapper">

    <resultMap id="userList" type="User">
        <result property="id" column="id"/>
        <result property="username" column="username"/>
        <result property="sex" column="sex"/>
        <result property="age" column="age"/>
    </resultMap>

    <select id="findUserById" parameterType="Integer" resultType="com.test.mybatis.entity.User">
        select * from t_user where id = #{id}
    </select>

    <select id="getUserMap" parameterType="Integer" resultType="java.util.HashMap">
        select * from t_user where id = #{id}
    </select>

    <select id="findAllUser" resultType="com.test.mybatis.entity.User">
        select * from t_user
    </select>

    <select id="getAllUserMap" resultType="java.util.HashMap">
        select * from t_user
    </select>

    <select id="findUserByInfo" parameterType="Map" resultMap="userList">
        select * from t_user where id = #{id} and username = #{name}
    </select>

    <select id="execSql" parameterType="String" resultType="java.util.HashMap">
        ${sadf}
    </select>
</mapper>