<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
            http://www.springframework.org/schema/context
            http://www.springframework.org/schema/context/spring-context.xsd">
    <!-- 由 Spring容器创建该类的实例对象 -->
    <bean id="personDao" class="com.test.mybatis.dao.impl.PersonDaoImpl" />

    <bean id="personService" class="com.test.mybatis.service.impl.PersonServiceImpl">
        <property name="personDao" ref="personDao"/>
    </bean>

    <bean id="person1" class="com.test.mybatis.entity.Person">
        <property name="age" value="12"/>
        <property name="name" value="zhangsan"/>
    </bean>

    <bean id="person2" class="com.test.mybatis.entity.Person">
        <constructor-arg index="0" value="lisi"/>
        <constructor-arg index="1" value="22"/>
    </bean>

    <!--使用context命名空间，通知spring扫描指定目录，进行注解的解析-->
    <context:component-scan base-package="com.test.mybatis"/>
</beans>